.about-container {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  color: aliceblue;
}

.about-container.show {
  opacity: 1;
}

.about-container .MuiAvatar-root {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.about-container .MuiAvatar-root.show {
  opacity: 1;
}
